#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Bg_bottom {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=82) ;
  filter: alpha(opacity=82) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Home_Indicator {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Bg_Top {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=82) ;
  filter: alpha(opacity=82) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Button_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}