#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 812px;
  width: 100%;
  height: 100%;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Memories_Screen {
  position: absolute;
  width: 375px;
  height: 813px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Bg > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  box-shadow: none;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Bg {
  position: absolute;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Bg > .clipping, #s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Bg > .paddingLayer {
  height: 87px;
  width: 100px;
  padding-top: 13px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Bg .valign {
  vertical-align: top;
  text-align: center;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Bg span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Bg span#rtr-s-Bg_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Memories {
  position: absolute;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Items {
  width: 334px;
  height: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Items > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Items td.layout {
  padding: 0px 0px 0px 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Items > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 334px;
  height: 70px;
  overflow-x: hidden;
  overflow-y: auto;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Items .verticalalign {
  vertical-align: top;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Group_13 {
  position: absolute;
  width: 158px;
  height: 158px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_6 {
  position: absolute;
  width: 158px;
  height: 158px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_6 > img, #s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_6 > svg {
  height: 158px;
  width: 158px;
  box-shadow: none;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_5 {
  position: absolute;
  width: 125px;
  height: 34px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 17px;
  font-size: 13.5pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_5 > .clipping, #s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_5 > .paddingLayer {
  height: 34px;
  width: 125px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: center;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_5 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 13.5pt;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 13.5pt;
  line-height: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_6 {
  position: absolute;
  width: 117px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 10px;
  font-size: 7.5pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_6 > .clipping, #s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_6 > .paddingLayer {
  height: 10px;
  width: 117px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: center;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 7.5pt;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 7.5pt;
  line-height: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Group_16 {
  position: absolute;
  width: 158px;
  height: 158px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_7 {
  position: absolute;
  width: 158px;
  height: 158px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_7 > img, #s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_7 > svg {
  height: 158px;
  width: 158px;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_7 {
  position: absolute;
  width: 107px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 10px;
  font-size: 7.5pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_7 > .clipping, #s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_7 > .paddingLayer {
  height: 10px;
  width: 107px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: center;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_7 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 7.5pt;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 7.5pt;
  line-height: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_8 {
  position: absolute;
  width: 128px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 17px;
  font-size: 13.5pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_8 > .clipping, #s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_8 > .paddingLayer {
  height: 55px;
  width: 128px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: center;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 13.5pt;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 13.5pt;
  line-height: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Group_19 {
  position: absolute;
  width: 335px;
  height: 334px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_8 {
  position: absolute;
  width: 335px;
  height: 334px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_8 > img, #s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_8 > svg {
  height: 334px;
  width: 335px;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 5px 5px 5px 5px;
  box-shadow: none;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_9 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_9 {
  position: absolute;
  width: 335px;
  height: 17px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 17px;
  font-size: 13.5pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_9 > .clipping, #s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_9 > .paddingLayer {
  height: 17px;
  width: 335px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: center;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_9 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 13.5pt;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 13.5pt;
  line-height: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_10 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_10 {
  position: absolute;
  width: 326px;
  height: 70px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 35px;
  font-size: 28.5pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_10 > .clipping, #s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_10 > .paddingLayer {
  height: 70px;
  width: 326px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: center;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_10 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 28.5pt;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 28.5pt;
  line-height: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_11 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_11 {
  position: absolute;
  width: 78px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 22px;
  font-size: 12.8pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_11 > .clipping, #s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_11 > .paddingLayer {
  height: 22px;
  width: 78px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.8pt;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.8pt;
  line-height: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Toolbar {
  position: absolute;
  width: 375px;
  height: 84px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Bg_bottom > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: #F6F7F8;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  box-shadow: none;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Bg_bottom {
  position: absolute;
  width: 0px;
  height: 84px;
  opacity: 0.82;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Bg_bottom > .clipping, #s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Bg_bottom > .paddingLayer {
  height: 83px;
  width: 100px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Bg_bottom .valign {
  vertical-align: middle;
  text-align: center;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Bg_bottom span {
  color: #007AFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Bg_bottom span#rtr-s-Bg_bottom_0 {
  color: #007AFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Options {
  position: absolute;
  width: 375px;
  height: 84px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Options > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Options > table {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Cell_5 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Cell_5 td.layout {
  padding: 10px 10px 10px 10px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Cell_5 .verticalalign {
  vertical-align: top;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Cell_5 {
  width: 93px;
  height: 84px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Group_4 {
  width: 42px;
  height: 56px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_15 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_15 {
  position: absolute;
  width: 42px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_15 > .clipping, #s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_15 > .paddingLayer {
  height: 28px;
  width: 42px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_15 .valign {
  vertical-align: top;
  text-align: center;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_15 span {
  color: #8A8A8E;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #8A8A8E;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_11 > svg {
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_11 {
  position: absolute;
  width: 30px;
  height: 23px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_11 > img, #s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_11 > svg {
  height: 23px;
  width: 30px;
  box-shadow: none;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Cell_6 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Cell_6 td.layout {
  padding: 10px 10px 10px 10px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Cell_6 .verticalalign {
  vertical-align: top;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Cell_6 {
  width: 94px;
  height: 84px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Group_3 {
  width: 91px;
  height: 42px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_14 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_14 {
  position: absolute;
  width: 91px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_14 > .clipping, #s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_14 > .paddingLayer {
  height: 12px;
  width: 91px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: center;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_14 span {
  color: #0079FF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #0079FF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_10 > svg {
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_10 {
  position: absolute;
  width: 28px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_10 > img, #s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_10 > svg {
  height: 26px;
  width: 28px;
  box-shadow: none;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Cell_7 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Cell_7 td.layout {
  padding: 10px 10px 10px 10px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Cell_7 .verticalalign {
  vertical-align: top;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Cell_7 {
  width: 94px;
  height: 84px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Group_5 {
  width: 59px;
  height: 35px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_13 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_13 {
  position: absolute;
  width: 59px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_13 > .clipping, #s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_13 > .paddingLayer {
  height: 12px;
  width: 59px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: center;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_13 span {
  color: #8A8A8E;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #8A8A8E;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_13 > svg {
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_13 {
  position: absolute;
  width: 32px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_13 > img, #s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_13 > svg {
  height: 20px;
  width: 32px;
  box-shadow: none;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Cell_8 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Cell_8 td.layout {
  padding: 10px 10px 10px 10px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Cell_8 .verticalalign {
  vertical-align: top;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Cell_8 {
  width: 94px;
  height: 84px;
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Group_6 {
  width: 49px;
  height: 40px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_12 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_12 {
  position: absolute;
  width: 49px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_12 > .clipping, #s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_12 > .paddingLayer {
  height: 12px;
  width: 49px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: center;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_12 span {
  color: #8A8A8E;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #8A8A8E;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_9 > svg {
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_9 {
  position: absolute;
  width: 28px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_9 > img, #s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_9 > svg {
  height: 24px;
  width: 28px;
  box-shadow: none;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Home_Indicator > svg {
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Home_Indicator {
  position: absolute;
  width: 134px;
  height: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 100;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Home_Indicator > img, #s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Home_Indicator > svg {
  height: 5px;
  width: 134px;
  box-shadow: none;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Bg_Top > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: #F6F7F8;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  box-shadow: none;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Bg_Top {
  position: absolute;
  width: 0px;
  height: 140px;
  opacity: 0.82;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Bg_Top > .clipping, #s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Bg_Top > .paddingLayer {
  height: 139px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Bg_Top .valign {
  vertical-align: middle;
  text-align: center;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Bg_Top span {
  color: #007AFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Bg_Top span#rtr-s-Bg_Top_0 {
  color: #007AFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_12 > svg {
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_12 {
  position: absolute;
  width: 17px;
  height: 17px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_12 > img, #s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_12 > svg {
  height: 17px;
  width: 17px;
  box-shadow: none;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_16 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_16 {
  position: absolute;
  width: 167px;
  height: 41px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 41px;
  font-size: 25.5pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_16 > .clipping, #s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_16 > .paddingLayer {
  height: 41px;
  width: 167px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_16 .valign {
  vertical-align: top;
  text-align: left;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_16 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 25.5pt;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 25.5pt;
  line-height: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-statusBar {
  position: absolute;
  width: 335px;
  height: 22px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Text_2 {
  position: absolute;
  width: 45px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Text_2 > .clipping, #s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Text_2 > .paddingLayer {
  height: 18px;
  width: 45px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_17 > svg {
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_17 {
  position: absolute;
  width: 17px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_17 > img, #s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_17 > svg {
  height: 12px;
  width: 17px;
  box-shadow: none;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_18 > svg {
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_18 {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_18 > img, #s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_18 > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_4 > svg {
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_4 {
  position: absolute;
  width: 25px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_4 > img, #s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_4 > svg {
  height: 12px;
  width: 25px;
  box-shadow: none;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Button > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  border-radius: 6px 6px 6px 6px;
  box-shadow: none;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Button {
  position: absolute;
  width: 0px;
  height: 57px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Button > .clipping, #s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Button > .paddingLayer {
  height: 49px;
  width: 24px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Button .valign {
  vertical-align: middle;
  text-align: center;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Button span {
  color: #007AFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Button span#rtr-s-Button_0 {
  color: #007AFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Button_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  border-radius: 4px 4px 4px 4px;
  box-shadow: none;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Button_1 {
  position: absolute;
  width: 0px;
  height: 82px;
  opacity: 0.0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Button_1 > .clipping, #s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Button_1 > .paddingLayer {
  height: 76px;
  width: 16px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Button_1 span {
  color: #007AFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Button_1 span#rtr-s-Button_1_0 {
  color: #007AFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}