#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Bg {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_7 {
  -ms-transform: rotate(0.0deg);
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_9 {
  -ms-transform: rotate(0.0deg);
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_10 {
  -ms-transform: rotate(0.0deg);
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_11 {
  -ms-transform: rotate(0.0deg);
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Bg_bottom {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=82);
  filter: alpha(opacity=82);
  -ms-transform: rotate(0.0deg);
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Options {
  border-collapse: separate;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Cell_5 > .valign {
  vertical-align: top;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_15 {
  -ms-transform: rotate(0.0deg);
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Cell_6 > .valign {
  vertical-align: top;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_14 {
  -ms-transform: rotate(0.0deg);
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Cell_7 > .valign {
  vertical-align: top;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_13 {
  -ms-transform: rotate(0.0deg);
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Cell_8 > .valign {
  vertical-align: top;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Home_Indicator {
  -ms-transform: rotate(0.0deg);
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Bg_Top {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=82);
  filter: alpha(opacity=82);
  -ms-transform: rotate(0.0deg);
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Paragraph_16 {
  -ms-transform: rotate(0.0deg);
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Button {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  border-radius: 6px 6px 6px 6px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 49px;
  width: 24px;
  -ms-transform: rotate(0.0deg);
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  border-radius: 4px 4px 4px 4px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 76px;
  width: 16px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-001a7bca-2a59-46fa-962b-e2ef03ea2e4f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}