#s-09023ee2-9c9d-44f7-b864-ca3016d0d46d #s-Bg {
  -ms-transform: rotate(0.0deg);
}
#s-09023ee2-9c9d-44f7-b864-ca3016d0d46d #s-Bg_top {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-09023ee2-9c9d-44f7-b864-ca3016d0d46d #s-Paragraph_16 {
  -ms-transform: rotate(0.0deg);
}
#s-09023ee2-9c9d-44f7-b864-ca3016d0d46d #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-09023ee2-9c9d-44f7-b864-ca3016d0d46d #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-09023ee2-9c9d-44f7-b864-ca3016d0d46d #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-09023ee2-9c9d-44f7-b864-ca3016d0d46d #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-09023ee2-9c9d-44f7-b864-ca3016d0d46d #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-09023ee2-9c9d-44f7-b864-ca3016d0d46d #s-Bg_bottom {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-09023ee2-9c9d-44f7-b864-ca3016d0d46d #s-Bottom_Nave {
  border-collapse: separate;
}
#s-09023ee2-9c9d-44f7-b864-ca3016d0d46d #s-Cell_1 > .valign {
  vertical-align: top;
}
#s-09023ee2-9c9d-44f7-b864-ca3016d0d46d #s-Image_48 {
  -ms-transform: rotate(0.0deg);
}
#s-09023ee2-9c9d-44f7-b864-ca3016d0d46d #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-09023ee2-9c9d-44f7-b864-ca3016d0d46d #s-Cell_3 > .valign {
  vertical-align: top;
}
#s-09023ee2-9c9d-44f7-b864-ca3016d0d46d #s-Image_49 {
  -ms-transform: rotate(0.0deg);
}
#s-09023ee2-9c9d-44f7-b864-ca3016d0d46d #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-09023ee2-9c9d-44f7-b864-ca3016d0d46d #s-Cell_5 > .valign {
  vertical-align: top;
}
#s-09023ee2-9c9d-44f7-b864-ca3016d0d46d #s-Image_50 {
  -ms-transform: rotate(0.0deg);
}
#s-09023ee2-9c9d-44f7-b864-ca3016d0d46d #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-09023ee2-9c9d-44f7-b864-ca3016d0d46d #s-Cell_7 > .valign {
  vertical-align: top;
}
#s-09023ee2-9c9d-44f7-b864-ca3016d0d46d #s-Image_51 {
  -ms-transform: rotate(0.0deg);
}
#s-09023ee2-9c9d-44f7-b864-ca3016d0d46d #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-09023ee2-9c9d-44f7-b864-ca3016d0d46d #s-Cell_9 > .valign {
  vertical-align: top;
}
#s-09023ee2-9c9d-44f7-b864-ca3016d0d46d #s-Image_52 {
  -ms-transform: rotate(0.0deg);
}
#s-09023ee2-9c9d-44f7-b864-ca3016d0d46d #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-09023ee2-9c9d-44f7-b864-ca3016d0d46d #s-Home_Indicator {
  -ms-transform: rotate(0.0deg);
}
#s-09023ee2-9c9d-44f7-b864-ca3016d0d46d #s-Modal {
  -ms-transform: rotate(0.0deg);
}
#s-09023ee2-9c9d-44f7-b864-ca3016d0d46d #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-09023ee2-9c9d-44f7-b864-ca3016d0d46d #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-09023ee2-9c9d-44f7-b864-ca3016d0d46d #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-09023ee2-9c9d-44f7-b864-ca3016d0d46d #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-09023ee2-9c9d-44f7-b864-ca3016d0d46d #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-09023ee2-9c9d-44f7-b864-ca3016d0d46d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}