#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Rectangle_5 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Paragraph_13 {
  -ms-transform: rotate(0.0deg);
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Paragraph_14 {
  -ms-transform: rotate(0.0deg);
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Rich_text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Line_14 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Line_14 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Image_42 {
  -ms-transform: rotate(0.0deg);
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Rich_text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Line_15 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Line_15 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Line_21 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Line_21 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Rich_text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Line_22 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Line_22 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Image_37 {
  -ms-transform: rotate(0.0deg);
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Image_38 {
  -ms-transform: rotate(0.0deg);
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Image_39 {
  -ms-transform: rotate(0.0deg);
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Rich_text_45 {
  -ms-transform: rotate(0.0deg);
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Line_23 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Line_23 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Image_40 {
  -ms-transform: rotate(0.0deg);
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Image_41 {
  -ms-transform: rotate(0.0deg);
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Image_43 {
  -ms-transform: rotate(0.0deg);
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  filter: alpha(opacity=25);
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #979797;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=82);
  filter: alpha(opacity=82);
  -ms-transform: rotate(0.0deg);
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Line_5 {
  stroke-width: 2px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Line_5 {
  stroke-width: 2px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Line_9 {
  stroke-width: 2px;
  stroke: #157EFB;
  -ms-transform: rotate(0.0deg);
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Line_9 {
  stroke-width: 2px;
  stroke: #157EFB;
  -ms-transform: rotate(0.0deg);
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Image_48 {
  -ms-transform: rotate(0.0deg);
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Home_Indicator {
  -ms-transform: rotate(0.0deg);
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Image_25 {
  -ms-transform: rotate(0.0deg);
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  border-radius: 6px 6px 6px 6px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 24px;
  width: 20px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: alpha(opacity=35);
  -ms-transform: rotate(0.0deg);
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Button {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  border-radius: 11px 11px 11px 11px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  height: 43px;
  width: 58px;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}