#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Paragraph_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Paragraph_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Rich_text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Image_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Rich_text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Line_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Line_21 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Rich_text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Line_22 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Image_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Image_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Image_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Rich_text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Line_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Image_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Image_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Image_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25) ;
  filter: alpha(opacity=25) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=82) ;
  filter: alpha(opacity=82) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Image_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Home_Indicator {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Button_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 #s-Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-0aaa1340-6493-4fdc-b685-4a66253708b0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}