#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-BgWhite {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-Black-cover {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=24) ;
  filter: alpha(opacity=24) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-more-vertical {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-Search {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-Share {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-keyboard_letter {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-keyboard_letter_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-keyboard_letter_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-Button_38 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-Button_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-checkbox_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-checkbox_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-checkbox_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-Image_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}