#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-BgWhite {
  -ms-transform: rotate(0.0deg);
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-Black-cover {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=24);
  filter: alpha(opacity=24);
  -ms-transform: rotate(0.0deg);
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-Bg {
  -ms-transform: rotate(0.0deg);
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-Text {
  -ms-transform: rotate(0.0deg);
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-menu {
  -ms-transform: rotate(0.0deg);
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-more-vertical {
  -ms-transform: rotate(0.0deg);
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-Search {
  -ms-transform: rotate(0.0deg);
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-Share {
  -ms-transform: rotate(0.0deg);
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-signals {
  -ms-transform: rotate(0.0deg);
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-keyboard_letter {
  -ms-transform: rotate(0.0deg);
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-keyboard_letter_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-keyboard_letter_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-Rectangle_8 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-Button_38 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 36px;
  width: 80px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: alpha(opacity=35);
  -ms-transform: rotate(0.0deg);
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-Button_37 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 36px;
  width: 80px;
  -ms-transform: rotate(0.0deg);
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-Rectangle_16 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-checkbox_9 {
  -ms-transform: rotate(0.0deg);
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-Rectangle_17 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #757575;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #757575;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #757575;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #757575;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-Rectangle_18 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-checkbox_10 {
  -ms-transform: rotate(0.0deg);
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-Rectangle_19 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #757575;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #757575;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #757575;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #757575;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-Rectangle_20 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-checkbox_11 {
  -ms-transform: rotate(0.0deg);
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-Rectangle_21 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #757575;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #757575;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #757575;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #757575;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-Input_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-Input_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a #s-Image_44 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-2c877ee9-bd18-4cff-8dd9-3806fbca392a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}