#s-484ece5c-8877-49a5-a443-79a82e871b4a #s-Rich_text_78 {
  -ms-transform: rotate(0.0deg);
}
#s-484ece5c-8877-49a5-a443-79a82e871b4a #s-Image_20 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-484ece5c-8877-49a5-a443-79a82e871b4a #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-484ece5c-8877-49a5-a443-79a82e871b4a #s-Ellipse_8 {
  stroke-width: 2px;
  stroke: #C8C7CC;
  -ms-transform: rotate(0.0deg);
}
#s-484ece5c-8877-49a5-a443-79a82e871b4a #s-Ellipse_9 {
  stroke-width: 2px;
  stroke: #C8C7CC;
  -ms-transform: rotate(0.0deg);
}
#s-484ece5c-8877-49a5-a443-79a82e871b4a #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-484ece5c-8877-49a5-a443-79a82e871b4a #s-Image_37 {
  -ms-transform: rotate(0.0deg);
}
#s-484ece5c-8877-49a5-a443-79a82e871b4a #s-Line_22 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-484ece5c-8877-49a5-a443-79a82e871b4a #s-Line_22 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-484ece5c-8877-49a5-a443-79a82e871b4a #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-484ece5c-8877-49a5-a443-79a82e871b4a #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-484ece5c-8877-49a5-a443-79a82e871b4a #s-Line_35 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-484ece5c-8877-49a5-a443-79a82e871b4a #s-Line_35 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-484ece5c-8877-49a5-a443-79a82e871b4a #s-Ok-Blue {
  -ms-transform: rotate(0.0deg);
}
#s-484ece5c-8877-49a5-a443-79a82e871b4a #s-Plus-item {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-484ece5c-8877-49a5-a443-79a82e871b4a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}