#s-484ece5c-8877-49a5-a443-79a82e871b4a #s-Rich_text_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-484ece5c-8877-49a5-a443-79a82e871b4a #s-Image_20 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-484ece5c-8877-49a5-a443-79a82e871b4a #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-484ece5c-8877-49a5-a443-79a82e871b4a #s-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-484ece5c-8877-49a5-a443-79a82e871b4a #s-Ellipse_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-484ece5c-8877-49a5-a443-79a82e871b4a #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-484ece5c-8877-49a5-a443-79a82e871b4a #s-Image_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-484ece5c-8877-49a5-a443-79a82e871b4a #s-Line_22 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-484ece5c-8877-49a5-a443-79a82e871b4a #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-484ece5c-8877-49a5-a443-79a82e871b4a #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-484ece5c-8877-49a5-a443-79a82e871b4a #s-Line_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-484ece5c-8877-49a5-a443-79a82e871b4a #s-Ok-Blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-484ece5c-8877-49a5-a443-79a82e871b4a #s-Plus-item {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-484ece5c-8877-49a5-a443-79a82e871b4a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}