#s-54f0aa16-5651-40a0-a867-15912d73b0f3 #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f0aa16-5651-40a0-a867-15912d73b0f3 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f0aa16-5651-40a0-a867-15912d73b0f3 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f0aa16-5651-40a0-a867-15912d73b0f3 #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f0aa16-5651-40a0-a867-15912d73b0f3 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f0aa16-5651-40a0-a867-15912d73b0f3 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f0aa16-5651-40a0-a867-15912d73b0f3 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f0aa16-5651-40a0-a867-15912d73b0f3 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f0aa16-5651-40a0-a867-15912d73b0f3 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f0aa16-5651-40a0-a867-15912d73b0f3 #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f0aa16-5651-40a0-a867-15912d73b0f3 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f0aa16-5651-40a0-a867-15912d73b0f3 #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f0aa16-5651-40a0-a867-15912d73b0f3 #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f0aa16-5651-40a0-a867-15912d73b0f3 #s-Paragraph_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f0aa16-5651-40a0-a867-15912d73b0f3 #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f0aa16-5651-40a0-a867-15912d73b0f3 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f0aa16-5651-40a0-a867-15912d73b0f3 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f0aa16-5651-40a0-a867-15912d73b0f3 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f0aa16-5651-40a0-a867-15912d73b0f3 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f0aa16-5651-40a0-a867-15912d73b0f3 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f0aa16-5651-40a0-a867-15912d73b0f3 #s-Paragraph_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f0aa16-5651-40a0-a867-15912d73b0f3 #s-Paragraph_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f0aa16-5651-40a0-a867-15912d73b0f3 #s-Paragraph_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f0aa16-5651-40a0-a867-15912d73b0f3 #s-Paragraph_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f0aa16-5651-40a0-a867-15912d73b0f3 #s-Paragraph_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f0aa16-5651-40a0-a867-15912d73b0f3 #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f0aa16-5651-40a0-a867-15912d73b0f3 #s-Paragraph_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f0aa16-5651-40a0-a867-15912d73b0f3 #s-Paragraph_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f0aa16-5651-40a0-a867-15912d73b0f3 #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f0aa16-5651-40a0-a867-15912d73b0f3 #s-Paragraph_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f0aa16-5651-40a0-a867-15912d73b0f3 #s-Paragraph_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f0aa16-5651-40a0-a867-15912d73b0f3 #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f0aa16-5651-40a0-a867-15912d73b0f3 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f0aa16-5651-40a0-a867-15912d73b0f3 #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f0aa16-5651-40a0-a867-15912d73b0f3 #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f0aa16-5651-40a0-a867-15912d73b0f3 #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f0aa16-5651-40a0-a867-15912d73b0f3 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f0aa16-5651-40a0-a867-15912d73b0f3 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f0aa16-5651-40a0-a867-15912d73b0f3 #s-Paragraph_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f0aa16-5651-40a0-a867-15912d73b0f3 #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f0aa16-5651-40a0-a867-15912d73b0f3 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f0aa16-5651-40a0-a867-15912d73b0f3 #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f0aa16-5651-40a0-a867-15912d73b0f3 #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f0aa16-5651-40a0-a867-15912d73b0f3 #s-Image_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54f0aa16-5651-40a0-a867-15912d73b0f3 #s-Home_Indicator {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-54f0aa16-5651-40a0-a867-15912d73b0f3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}