#s-7024a4b2-5bf3-4f06-9411-fb3a47cc970c #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7024a4b2-5bf3-4f06-9411-fb3a47cc970c #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7024a4b2-5bf3-4f06-9411-fb3a47cc970c #s-logo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7024a4b2-5bf3-4f06-9411-fb3a47cc970c #s-Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7024a4b2-5bf3-4f06-9411-fb3a47cc970c #s-Line_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7024a4b2-5bf3-4f06-9411-fb3a47cc970c #s-Input-text_4 INPUT {
  font-family: Arial;
}
#s-7024a4b2-5bf3-4f06-9411-fb3a47cc970c #s-Line_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7024a4b2-5bf3-4f06-9411-fb3a47cc970c #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7024a4b2-5bf3-4f06-9411-fb3a47cc970c #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7024a4b2-5bf3-4f06-9411-fb3a47cc970c #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7024a4b2-5bf3-4f06-9411-fb3a47cc970c #s-BgTop {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7024a4b2-5bf3-4f06-9411-fb3a47cc970c #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7024a4b2-5bf3-4f06-9411-fb3a47cc970c #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7024a4b2-5bf3-4f06-9411-fb3a47cc970c #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7024a4b2-5bf3-4f06-9411-fb3a47cc970c #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7024a4b2-5bf3-4f06-9411-fb3a47cc970c #s-Home_Indicator_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7024a4b2-5bf3-4f06-9411-fb3a47cc970c #s-Paragraph_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7024a4b2-5bf3-4f06-9411-fb3a47cc970c #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7024a4b2-5bf3-4f06-9411-fb3a47cc970c #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-7024a4b2-5bf3-4f06-9411-fb3a47cc970c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}