#s-7024a4b2-5bf3-4f06-9411-fb3a47cc970c #s-Bg {
  -ms-transform: rotate(0.0deg);
}
#s-7024a4b2-5bf3-4f06-9411-fb3a47cc970c #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7024a4b2-5bf3-4f06-9411-fb3a47cc970c #s-logo {
  -ms-transform: rotate(0.0deg);
}
#s-7024a4b2-5bf3-4f06-9411-fb3a47cc970c #s-Button {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 11px 11px 11px 11px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  height: 43px;
  width: 80px;
  -ms-transform: rotate(0.0deg);
}
#s-7024a4b2-5bf3-4f06-9411-fb3a47cc970c #s-Line_36 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-7024a4b2-5bf3-4f06-9411-fb3a47cc970c #s-Line_36 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-7024a4b2-5bf3-4f06-9411-fb3a47cc970c #s-Line_37 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-7024a4b2-5bf3-4f06-9411-fb3a47cc970c #s-Line_37 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-7024a4b2-5bf3-4f06-9411-fb3a47cc970c #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7024a4b2-5bf3-4f06-9411-fb3a47cc970c #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  border-radius: 3px 3px 3px 3px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 51px;
  width: 9px;
  -ms-transform: rotate(0.0deg);
}
#s-7024a4b2-5bf3-4f06-9411-fb3a47cc970c #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  border-radius: 4px 4px 4px 4px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 51px;
  width: 14px;
  -ms-transform: rotate(0.0deg);
}
#s-7024a4b2-5bf3-4f06-9411-fb3a47cc970c #s-BgTop {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-7024a4b2-5bf3-4f06-9411-fb3a47cc970c #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7024a4b2-5bf3-4f06-9411-fb3a47cc970c #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-7024a4b2-5bf3-4f06-9411-fb3a47cc970c #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-7024a4b2-5bf3-4f06-9411-fb3a47cc970c #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-7024a4b2-5bf3-4f06-9411-fb3a47cc970c #s-Home_Indicator_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7024a4b2-5bf3-4f06-9411-fb3a47cc970c #s-Paragraph_16 {
  -ms-transform: rotate(0.0deg);
}
#s-7024a4b2-5bf3-4f06-9411-fb3a47cc970c #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7024a4b2-5bf3-4f06-9411-fb3a47cc970c #s-Button_3 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-7024a4b2-5bf3-4f06-9411-fb3a47cc970c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}