#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 812px;
  width: 100%;
  height: 100%;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_1 {
  position: absolute;
  width: 375px;
  height: 334px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_1 > img, #s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_1 > svg {
  height: 334px;
  width: 375px;
  box-shadow: none;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-mapScreen {
  position: absolute;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-map {
  width: 0px;
  height: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-map > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-map td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-map > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 100px;
  height: 100px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-map .verticalalign {
  vertical-align: top;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Map {
  position: absolute;
  width: 0px;
  height: 812px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Map > img, #s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Map > svg {
  height: 812px;
  width: 100px;
  box-shadow: none;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Home_Indicator > svg {
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Home_Indicator {
  position: absolute;
  width: 134px;
  height: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 100;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Home_Indicator > img, #s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Home_Indicator > svg {
  height: 5px;
  width: 134px;
  box-shadow: none;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Paragraph_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Paragraph_7 {
  position: absolute;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Paragraph_7 > .clipping, #s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Paragraph_7 > .paddingLayer {
  height: 25px;
  width: 25px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: center;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Paragraph_7 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Paragraph_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Paragraph_8 {
  position: absolute;
  width: 8px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Paragraph_8 > .clipping, #s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Paragraph_8 > .paddingLayer {
  height: 19px;
  width: 8px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: center;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Paragraph_8 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_25 > svg {
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_25 {
  position: absolute;
  width: 19px;
  height: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_25 > img, #s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_25 > svg {
  height: 13px;
  width: 19px;
  box-shadow: none;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_26 > svg {
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_26 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_26 > img, #s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_26 > svg {
  height: 6px;
  width: 6px;
  box-shadow: none;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_27 > svg {
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_27 {
  position: absolute;
  width: 60px;
  height: 17px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_27 > img, #s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_27 > svg {
  height: 17px;
  width: 60px;
  box-shadow: none;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_28 > svg {
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_28 {
  position: absolute;
  width: 60px;
  height: 66px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_28 > img, #s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_28 > svg {
  height: 66px;
  width: 60px;
  box-shadow: none;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_30 > svg {
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_30 {
  position: absolute;
  width: 45px;
  height: 90px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_30 > img, #s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_30 > svg {
  height: 90px;
  width: 45px;
  box-shadow: none;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_31 > svg {
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_31 {
  position: absolute;
  width: 20px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_31 > img, #s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_31 > svg {
  height: 19px;
  width: 20px;
  box-shadow: none;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_32 > svg {
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_32 {
  position: absolute;
  width: 45px;
  height: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_32 > img, #s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_32 > svg {
  height: 1px;
  width: 45px;
  box-shadow: none;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_33 > svg {
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_33 {
  position: absolute;
  width: 22px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_33 > img, #s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_33 > svg {
  height: 22px;
  width: 22px;
  box-shadow: none;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Text_2 {
  position: absolute;
  width: 45px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Text_2 > .clipping, #s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Text_2 > .paddingLayer {
  height: 18px;
  width: 45px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_16 > svg {
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_16 {
  position: absolute;
  width: 17px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_16 > img, #s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_16 > svg {
  height: 12px;
  width: 17px;
  box-shadow: none;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_15 > svg {
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_15 {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_15 > img, #s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_15 > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_4 > svg {
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_4 {
  position: absolute;
  width: 25px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_4 > img, #s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_4 > svg {
  height: 12px;
  width: 25px;
  box-shadow: none;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Info {
  position: absolute;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-data {
  width: 0px;
  height: 341px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-data > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-data td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-data > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 100px;
  height: 341px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-data .verticalalign {
  vertical-align: top;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_7 > svg {
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_7 {
  position: absolute;
  width: 0px;
  height: 341px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 100;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_7 > img, #s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_7 > svg {
  height: 341px;
  width: 100px;
  box-shadow: none;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_8 > svg {
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_8 {
  position: absolute;
  width: 0px;
  height: 136px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_8 > img, #s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_8 > svg {
  height: 136px;
  width: 100px;
  box-shadow: none;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_9 > svg {
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_9 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_9 > img, #s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_9 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Paragraph_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Paragraph_2 {
  position: absolute;
  width: 240px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Paragraph_2 > .clipping, #s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Paragraph_2 > .paddingLayer {
  height: 18px;
  width: 240px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Paragraph_2 span {
  color: #8B8B8B;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #8B8B8B;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_11 > svg {
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_11 {
  position: absolute;
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_11 > img, #s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_11 > svg {
  height: 12px;
  width: 12px;
  box-shadow: none;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_12 > svg {
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_12 {
  position: absolute;
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_12 > img, #s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_12 > svg {
  height: 12px;
  width: 12px;
  box-shadow: none;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_13 > svg {
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_13 {
  position: absolute;
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_13 > img, #s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_13 > svg {
  height: 12px;
  width: 12px;
  box-shadow: none;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_14 > svg {
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_14 {
  position: absolute;
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_14 > img, #s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_14 > svg {
  height: 12px;
  width: 12px;
  box-shadow: none;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_17 > svg {
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_17 {
  position: absolute;
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_17 > img, #s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_17 > svg {
  height: 12px;
  width: 12px;
  box-shadow: none;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Paragraph_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Paragraph_5 {
  position: absolute;
  width: 303px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Paragraph_5 > .clipping, #s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Paragraph_5 > .paddingLayer {
  height: 18px;
  width: 303px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Paragraph_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Paragraph_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Paragraph_6 {
  position: absolute;
  width: 303px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 15.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Paragraph_6 > .clipping, #s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Paragraph_6 > .paddingLayer {
  height: 24px;
  width: 303px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Paragraph_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_19 {
  position: absolute;
  width: 0px;
  height: 78px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_19 > img, #s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_19 > svg {
  height: 78px;
  width: 30px;
  box-shadow: none;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_23 > svg {
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_23 {
  position: absolute;
  width: 37px;
  height: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_23 > img, #s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_23 > svg {
  height: 4px;
  width: 37px;
  box-shadow: none;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_20 {
  position: absolute;
  width: 0px;
  height: 78px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_20 > img, #s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_20 > svg {
  height: 78px;
  width: 30px;
  box-shadow: none;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_22 {
  position: absolute;
  width: 0px;
  height: 157px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_22 > img, #s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_22 > svg {
  height: 157px;
  width: 61px;
  box-shadow: none;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #027AFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #027AFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #027AFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #027AFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #027AFF;
  border-radius: 10px 10px 10px 10px;
  box-shadow: none;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Rectangle_1 {
  position: absolute;
  width: 0px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Rectangle_1 > .clipping, #s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Rectangle_1 > .paddingLayer {
  height: 48px;
  width: 90px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Rectangle_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Imessage1 {
  position: absolute;
  width: 141px;
  height: 31px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Rich_text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #E5E5EA;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 11px 11px 11px 11px;
  box-shadow: none;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Rich_text_3 {
  position: absolute;
  width: 138px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Rich_text_3 > .clipping, #s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Rich_text_3 > .paddingLayer {
  height: 18px;
  width: 112px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 13px;
  padding-right: 13px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Rich_text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Rich_text_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Rich_text_3 span#rtr-s-Rich_text_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_51 {
  position: absolute;
  width: 7px;
  height: 11px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_51 > img, #s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Image_51 > svg {
  height: 11px;
  width: 7px;
  box-shadow: none;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Button_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Button_1 {
  position: absolute;
  width: 78px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Button_1 > .clipping, #s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Button_1 > .paddingLayer {
  height: 29px;
  width: 78px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Button_1 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Hotspot_1 {
  position: absolute;
  width: 60px;
  height: 74px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Hotspot_1 > img, #s-f69ab636-e7c9-4f1d-bb82-2904590c4261 #s-Hotspot_1 > svg {
  height: 74px;
  width: 60px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-f69ab636-e7c9-4f1d-bb82-2904590c4261 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}